   @media (max-width: 1200px) {
       .section_box {
           gap: 20px;
       }

       .section_card_list {
           width: 255px;
       }

       .card_icons {
           top: 4px;
           right: 5px;
       }

       .section_card_list {
           width: 240px;
           height: 240px;
       }

       .cotolog_wrap {
           overflow: hidden;
           overflow-x: scroll;
       }
   }

   @media (max-width: 1100px) {
       .cotolog_wrap {
           gap: 20px;
       }


       .cotolog_wrap {
           margin-bottom: 60px;
           margin-top: 50px;

       }

       .intro_img_title {
           font-size: 40px;
           line-height: 50px;
       }



       .nuqta {
           left: 45%;
       }

       .section_box {
           gap: 15px;
           overflow-x: scroll;
       }

       .section_card_list {
           width: 230px;
           height: 230px;
       }


   }

   @media (max-width: 1000px) {
       .jbl_box {
           margin-top: 100px;
       }

       .jbl_img img {
           height: 300px;
       }

       .jbl_title {
           font-size: 46px;
           line-height: 100%;
           padding-top: 26px;
       }

       .data_box {
           gap: 22px;
           padding: 28px 0 34px 0;
       }

       .cotolog_list::after {
           right: -19px;
           top: 43%;
       }

       .section-cotolog {
           margin-top: 100px;
       }

       .intro_img_title {
           font-size: 34px;
           line-height: 44px;
       }

       .nav_list {
           gap: 30px;
       }

       .intro_box {
           gap: 20px;
       }



       .nav_box {
           margin-top: 30px;
       }

       .card_text {
           gap: 10px;
       }

       .section_card_list {
           width: 220px;
           height: 220px;
       }
   }

   @media (max-width: 900px) {
       .jbl_img img {
           height: 270px;
       }

       .jbl_title {
           font-size: 44px;
           line-height: 100%;
           padding-top: 20px;
       }

       .data_box {
           gap: 18px;
           padding: 22px 0 26px 0;
       }

       .cotolog_list::after {
           right: -15px;
       }

       .cotolog_wrap {
           margin-bottom: 50px;
           margin-top: 40px;
       }

       .cotolog_time {
           gap: 25px;
       }

       .cotolog_link {
           gap: 70px;
       }

       .time {
           font-size: 30px;
           text-align: center;
       }

       .cotolog_title {
           font-size: 34px;
       }

       .title::before {
           height: 38px;
       }

       .intro_img {
           position: relative;
       }

       .section-cotolog {
           margin-top: 80px;
       }

       .card {
           justify-content: center;
           align-items: center;
           /* position: relative; */
       }

       .card_text {
           text-align: center;
           align-items: center;
           z-index: 2;
       }

       .apple {
           justify-content: center;
       }

       .intro_img_title {
           text-align: center;

       }

       .section_card_list {
           width: 210px;
           height: 210px;
       }

       .wrap {
           justify-content: center;
       }

       .card_apple {
           position: absolute;
           left: 52%;
           top: 50%;
           transform: translate(-40%, -50%);
           max-width: 800px;
           width: 100%;
           z-index: 1;
           opacity: 0.4;
           display: none;
       }

       .card {
           background: url(../images/header\ logo.png) no-repeat center/cover;
           overflow: hidden;
           position: relative;
           max-width: 523px;
           width: 100%;
           margin: 0 auto;
       }

       .card::after {
           content: "";
           position: absolute;
           z-index: 1;
           background: #141414;
           inset: 0;
           opacity: 0.5;
           pointer-events: none;

       }

       .nav_list {
           gap: 20px;
       }

       .intro_text {
           font-size: 14px;
       }

       .eng {
           margin-left: 50px;
       }



       .nav_box {
           margin-top: 20px;
       }

       .logo {
           font-size: 22px;
       }

       .nav_list_link {
           font-size: 15px;
       }

       .icons {
           gap: 12px;
       }

       .btn_link {
           width: 210px;
           height: 50px;
       }

       .product_btn {
           width: 145px;
           height: 50px;
       }


   }

   @media(max-width: 800px) {
       .card_sum {
           margin-top: 12px;
       }

       .jbl_box {
           flex-direction: column;
           padding: 60px 20px;
           align-items: center;
           justify-content: center;
           position: relative;
           width: 100%;
           margin-top: 60px;
       }

       .jbl_text-box {
           padding-left: 0;
           align-items: center;
           text-align: center;
           z-index: 2;
           position: relative;
       }

       .jbl_title {
           text-align: center;
           font-size: 36px;
       }

       .hours {
           width: 57px;
           height: 58px;
       }

       .hours_text {
           line-height: 100%;
       }

       .jbl_btn {
           background: #00FF66;
           width: 190px;
           height: 50px;
           border-radius: 4px;
           border: unset;
           font-weight: 500;
           font-size: 16px;
           line-height: 24px;
           color: #FAFAFA;
       }

       .data_box {
           justify-content: center;
       }

       .jbl_img {
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           width: 100%;
           height: 100%;
           /* z-index: 1; */
           opacity: 0.6;
       }

       .jbl_img img {
           max-width: 600px;
           height: auto;
           max-height: 400px;
       }

       .cotolog_card {
           width: 165px;
           height: 130px;
           gap: 10px;
       }

       .btn {
           margin-bottom: 40px;
           padding-bottom: 40px;
       }

       .cotolog_card img {
           width: 50px;
           height: 50px;
       }

       .cotolog_title {
           font-size: 32px;
       }

       .section_card_list {
           width: 200px;
           height: 200px;
       }

       .section_box {
           margin-bottom: 40px;
       }

       .uch {
           height: 115px;
       }

       .section_card_list {
           width: 245px;
       }

       .cotolog_time {
           gap: 22px;
       }

       .cotolog_link {
           gap: 60px;
       }

       .time {
           font-size: 28px;
       }

       .cotolog_title {
           font-size: 32px;
       }

       .title::before {
           height: 36px;
       }

       .section-cotolog {
           margin-top: 60px;
       }

       .search-box input {
           width: 200px;
       }


       .icons img {
           width: 28px;
           height: 28px;
       }

       .nav_list {
           gap: 15px;
       }

       .nav_list_link {
           font-size: 14px;
       }

       .btn_link {
           width: 190px;
           height: 50px;
       }

       .product_btn {
           width: 130px;
           height: 45px;
       }




       .eng {
           margin-left: 32px;
       }

       .intro_link {
           margin-top: 30px;
       }

       .intro_img {
           margin-top: 30px;
       }

       .intro_img_title {
           line-height: 120%;
           font-size: 32px;
       }

       .intro_text {
           width: 170px;
       }

       .cotolog_wrap {
           margin-bottom: 40px;
           margin-top: 30px;
       }

   }

   @media(max-width: 700px) {
       .data_box {
           gap: 15px;
           padding: 15px 0 15px 0;
       }

       .jbl_box {
           margin-top: 50px;
       }

       .jbl_title {
           font-size: 34px;
       }

       .hours {
           width: 50px;
           height: 50px;
       }

       .hours_number {
           font-size: 14px;
           line-height: 120%;
       }

       .cotolog_wrap {
           margin-bottom: 30px;
           margin-top: 20px;
       }

       .btn_link {
           width: 170px;
           height: 45px;
           font-size: 15px;
       }

       .jbl_btn {
           width: 170px;
           height: 45px;
           font-size: 15px;
       }

       .product_btn {
           width: 120px;
           height: 40px;
           font-size: 15px;
       }


       .section_box {
           margin-bottom: 30px;
           margin-top: 30px;
       }

       .card_title {
           font-size: 15px;
       }

       .card_narx {
           font-size: 15px;
       }

       .card_narx span {
           font-size: 15px;
       }

       .starts img {
           width: 19px;
           height: 19px;
       }

       .section_card_list {
           width: 235px;
           height: 210px;
       }

       .ikki {
           height: 100px;
       }

       .bir {
           height: 142px;
       }




       .cotolog_time {
           gap: 18px;
       }

       .footer_box_link {
           display: none;
       }

       .cotolog_link {
           gap: 50px;
       }

       .time {
           font-size: 26px;
           text-align: center;
       }

       .cotolog_title {
           font-size: 28px;
       }

       .title::before {
           height: 34px;
       }

       .left {
           width: 43px;
           height: 43px;
       }

       .num {
           text-align: center;
       }

       .cotolog_list::after {
           right: -12px;
       }

       .cotolog_box {
           margin-top: 18px;
       }


       .nav {
           display: none;
       }

       .intro_link {
           margin-top: 20px;
           gap: 14px;
       }

       .section-cotolog {
           margin-top: 50px;
       }

       .intro_img {
           margin-top: 20px;
       }

       .nav_mobile {
           display: block;
           position: fixed;
           bottom: 0;
           left: 0;
           width: 100%;
           backdrop-filter: blur(10px);
           background-color: rgba(255, 255, 255, 0.95);
           padding: 10px;
           border-top: 1px solid #1a19197e;
           z-index: 1000;
       }





       .intro_box {
           justify-content: center;
       }

       .apple img {
           width: 40px;
           height: 42px;
       }

       .card {
           margin: 0;
           position: relative;
           overflow: hidden;
           height: 327px;
       }

       .card_text {
           position: relative;
           z-index: 2;
       }

       /* 
            .card_apple {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                opacity: 0.6;
            } */

       body {
           padding-bottom: 70px;
       }

       .mobile_link img {
           height: 28px;
           width: 28px;
       }

       .summer {
           padding: 8px;
       }

       .intro_img_title {
           font-size: 32px;
           line-height: 42px;
       }

       .intro_text {
           width: 160px;
       }

       .cotolog_wrap {
           gap: 15px;
       }
   }

   @media(max-width: 650px) {
       .summer_text {
           font-size: 12px;
       }

       .summer_title {
           font-size: 14px;
       }
   }

   @media(max-width: 600px) {
       .card_sum {
           margin-top: 7px;
       }

       .data_box {
           gap: 10px;
           padding: 12px 0 12px 0;
       }

       .jbl_box {
           height: 450px;
           margin-top: 40px;
       }

       .hours {
           width: 50px;
           height: 50px;
       }

       .hours_number {
           font-size: 14px;
           line-height: 120%;
       }

       .jbl_title {
           font-size: 32px;
           padding-top: 10px;
       }

       .cotolog_card {
           width: 145px;
           height: 120px;
           gap: 3px;
       }

       .btn {
           margin-bottom: 20px;
           padding-bottom: 20px;
       }

       .cotolog_wrap {
           gap: 10px;
       }

       .cotolog_card img {
           width: 45px;
           height: 45px;
       }

       .elektronika_text {
           font-size: 15px;
       }

       .btn_link {
           width: 150px;
           height: 40px;
           font-size: 14px;
       }

       .jbl_btn {
           width: 150px;
           height: 40px;
           font-size: 14px;
       }

       .product_btn {
           width: 105px;
           height: 35px;
           font-size: 14px;
       }

       .cotolog_wrap {
           margin-bottom: 20px;
           margin-top: 20px;
       }

       .section_box {
           margin-bottom: 20px;
           margin-top: 20px;
       }

       .left {
           width: 38px;
           height: 38px;
       }

       .section_card_list {
           width: 190px;
           height: 190px;
       }

       .bir {
           height: 102px;
       }

       .ikki {
           height: 70px;
       }

       .uch {
           height: 80px;
       }

       .turt {
           height: 135px;
       }

       .left img {
           width: 23px;
       }

       .cotolog_title {
           font-size: 26px;
       }

       .time {
           font-size: 22px;
           text-align: center;
       }

       .card_heart {
           width: 23px;
           height: 23px;

       }

       .card_heart img {
           width: 15px;
           height: 19px;
       }

       .section_card_list::before {
           top: 4px;
           left: 4px;
           width: 50px;
       }




       .cotolog_time {
           gap: 16px;
       }

       .cotolog_box {
           margin-top: 10px;
       }

       .section-cotolog {
           margin-top: 30px;
       }

       .cotolog_link {
           gap: 30px;
       }

       .mobile_text {
           font-size: 14px;
       }

       .apple img {
           width: 38px;
           height: 39px;
       }

       .intro_link {
           margin-top: 15px;
           gap: 10px;
       }

       .intro_img {
           margin-top: 15px;
       }

       .intro_text {
           line-height: 150%;
           width: 140px;
       }

       .mobile_link img {
           height: 26px;
           width: 26px;
       }

       .intro_img_title {
           font-size: 28px;
           line-height: 36px;
       }

       .card {
           padding: 25px;
           height: 280px;
       }

       .card_apple {
           opacity: 0.5;
       }

       .summer {
           padding: 5px;
       }
   }

   @media(max-width: 568px) {


       .summer_text {
           display: none;
       }

       .span {
           display: block;
           font-weight: 600;
           padding-left: 8px;
           font-size: 14px;
           line-height: 24px;
           color: #FAFAFA;
           position: relative;
           cursor: pointer;

       }
   }

   @media(max-width: 500px) {
       .card_sum {
           margin-top: 5px;
       }

       .data_box {
           gap: 10px;
           padding: 10px 0 10px 0;
       }

       .jbl_box {
           height: 370px;
           margin-top: 20px;
       }

       .hours {
           width: 42px;
           height: 42px;
       }

       .hours_number {
           font-size: 12px;
           line-height: 120%;
       }

       .hours_text {
           font-size: 9px;
           font-weight: 600;
       }

       .jbl_title {
           font-size: 25px;
           padding-top: 5px;
           max-width: 300px;
       }

       .cotolog_card {
           width: 135px;
           height: 110px;
           gap: 0px;
       }

       .btn {
           margin-bottom: 15px;
           padding-bottom: 15px;
       }


       .cotolog_card img {
           width: 40px;
           height: 40px;
       }


       .btn_link {
           width: 150px;
           height: 40px;
           font-size: 13px;
       }

       .jbl_btn {
           width: 150px;
           height: 40px;
           font-size: 13px;
       }

       .product_btn {
           width: 95px;
           height: 30px;
           font-size: 13px;
       }

       .cotolog_wrap {
           margin-bottom: 15px;
           margin-top: 15px;
       }

       .section_box {
           margin-bottom: 10px;
           margin-top: 10px;
       }

       .bir {
           height: 112px;
       }

       .ikki {
           height: 70px;
       }

       .uch {
           height: 90px;
           width: 115px;
       }

       .turt {
           height: 135px;
       }

       .card_title {
           font-size: 14px;
       }

       .card_narx {
           font-size: 14px;
       }

       .card_narx span {
           font-size: 14px;
       }

       .starts img {
           width: 17px;
           height: 17px;
       }

       .section_card_list {
           width: 180px;
           height: 190px;
       }

       .section_box {
           gap: 10px;
       }

       .cotolog_title {
           font-size: 24px;
       }

       .time {
           font-size: 20px;
           text-align: center;
       }

       .cotolog_link {
           gap: 15px;
       }

       .cotolog_list::after {
           right: -8px;
       }

       .cotolog_time {
           gap: 10px;
       }

       .section-cotolog {
           margin-top: 20px;
       }

       .left {
           width: 35px;
           height: 35px;
       }

       .left img {
           width: 20px;
           justify-content: center;
           display: flex;
           justify-content: center;
       }

       .mobile_text {
           font-size: 12px;
       }

       .apple img {
           width: 33px;
           height: 33px;
       }

       .apple {
           gap: 8px;
       }

       .intro_text {
           line-height: 130%;
           width: 120px;
       }

       .mobile_link img {
           height: 24px;
           width: 24px;
       }

       .summer_text {
           font-size: 10px;
       }

       .summer_title {
           font-size: 14px;
       }

       .eng {
           font-size: 11px;
           margin-left: 10px;
       }

       .intro_img_title {
           font-size: 24px;
           line-height: 100%;
           max-width: 220px;
       }

       .card_text {
           gap: 4px;
       }

       .intro_img_text {
           font-size: 14px;
           line-height: 100%;
       }

       .wrap img {
           height: 20px;
           width: 18px;
       }

       .apple_text {
           font-size: 14px;
       }

       .card {
           padding: 20px;
           height: 235px;
       }


   }

   @media(max-width: 450px) {
       .card {
           height: 210px;
       }

       .btn_link {
           width: 145px;
           height: 33px;
           font-size: 11px;
       }

       .jbl_btn {
           width: 145px;
           height: 33px;
           font-size: 11px;
       }

       .product_btn {
           width: 80px;
           height: 25px;
           font-size: 11px;
       }

   }

   @media(max-width: 400px) {

       .hours {
           width: 38px;
           height: 38px;
       }

       .jbl_text {
           font-size: 14px;
           line-height: 100%;
       }

       .data_box {
           gap: 5px;
           padding: 5px 0 5px 0;
       }

       .hours_number {
           font-size: 12px;
           line-height: 120%;
       }

       .hours_text {
           font-size: 9px;
           font-weight: 600;
       }

       .jbl_title {
           font-size: 22px;
           padding-top: 5px;
           max-width: 300px;
       }

       .cotolog_card {
           width: 135px;
           height: 110px;
           gap: 0px;
       }

       .cotolog_card {
           width: 125px;
           height: 100px;
           gap: 0px;
       }

       .jbl_box {
           height: 280px;
       }

       .cotolog_wrap {
           gap: 10px;
       }

       .cotolog_card img {
           width: 32px;
           height: 32px;
       }

       .elektronika_text {
           font-size: 12px;
           line-height: 140%;
       }

       .cotolog_wrap {
           margin-bottom: 10px;
           margin-top: 10px;
       }

       .btn_link {
           width: 120px;
           height: 30px;
           font-size: 10px
       }

       .jbl_btn {
           width: 120px;
           height: 30px;
           font-size: 10px
       }

       .card_title {
           font-size: 12px;
           line-height: 130%;
       }

       .card_narx {
           font-size: 12px;
           line-height: 110%;
       }

       .card_narx span {
           font-size: 12px;
           line-height: 110%;
       }

       .starts img {
           width: 15px;
           height: 15px;
       }

       .starts span {
           padding-left: 4px;
       }


       .section_card_list {
           width: 140px;
           height: 150px;
       }

       .section_card_list::before {
           width: 45px;
           height: 22px;
           font-size: 11px;
       }

       .bir {
           height: 85px;
           width: 95px;
       }

       .ikki {
           height: 50px;
       }

       .uch {
           height: 60px;
           width: 80px;
       }

       .turt {
           height: 90px;
       }

       .left {
           width: 30px;
           height: 30px;
       }

       .left img {
           width: 16px;
           justify-content: center;
           display: flex;
           justify-content: center;
       }

       .cotolog_title {
           font-size: 18px;
       }

       .time {
           font-size: 17px;
       }

       .num {
           font-size: 10px;
       }

       .eng {
           margin-left: 5px;
       }

       .summer_link {
           gap: 5px;
       }

       .section-cotolog {
           margin-top: 10px;
       }

       .summer_title {
           padding-left: 0;
           font-size: 12px;
       }

       .span {
           font-size: 12px;
       }

       .summer_title::after {
           left: 0;
       }

       .intro_img_title {
           font-size: 22px;
           line-height: 30px;
       }

       .card {
           height: 180px;
       }

       .intro_text {
           width: 115px;
       }

       .intro_box {
           gap: 10px;
       }

       .intro_link {
           gap: 5px;
       }

       .apple img {
           width: 30px;
           height: 30px;
       }

       .apple {
           gap: 5px;
       }

       .intro_text {
           font-size: 12px;
       }

       .apple_text {
           font-size: 12px;
       }

       .intro_img_title {
           font-size: 19px;
           line-height: 21px;
       }

       .intro_img_text {
           font-size: 12px;
           line-height: 89%;
       }

       .wrap img {
           height: 17px;
           width: 15px;
       }
   }

   @media(max-width: 350px) {

       .jbl_title {
           font-size: 20px;
       }

       .card {
           height: 155px;
       }

       .apple img {
           width: 19px;
           height: 20px;
       }

       .intro_img_title {
           font-size: 16px;
           line-height: 17px;
       }

       .apple_text {
           font-size: 11px;
       }
   }

   @media (max-width: 800px) {}

   /* @media (max-width: 500px) {
            .jbl_title {
                font-size: 28px;
                line-height: 38px;
            }

            .data_box {
                gap: 12px;
            }

            .hours {
                width: 55px;
                height: 55px;
            }

            .hours_number {
                font-size: 14px;
            }

            .hours_text {
                font-size: 9px;
            }
        } */