@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header_top {
    background: #000000;

}

.summer {
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: space-between;

}

.summer_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
}

.summer_title {
    font-weight: 600;
    padding-left: 7px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FAFAFA;
    position: relative;
}

.summer_title::after {
    content: "";
    position: absolute;
    left: 9px;
    bottom: 3px;
    width: 89%;
    height: 1px;
    background: #fff;
}

.eng {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    display: flex;
    margin-left: 231px;
    position: relative;
    padding-right: 16px;
    cursor: pointer;
}

.eng::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 45%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-right: 2px solid #Fff;
    border-bottom: 2px solid #fff;
    transform: translateY(-50%) rotate(45deg);
}

.nav_box {
    display: flex;
    padding: 7px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 16px;


}

.nav {
    border-bottom: 1px solid#000000;
}

.nav_list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.nav_list_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    position: relative;
    text-decoration: none;
}

.nav_list_link::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 3px;
    opacity: 0.5;
    height: 1px;
    background: #1f1d1d;
    width: max-content;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}

.nav_list_link:hover::after {
    transform: scaleX(1);
}

.logo {
    font-family: initial;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.search-box {
    display: flex;
    align-items: center;
    position: relative;

}

.search-box input {
    width: 243px;
    height: 38px;
    opacity: 1;
    gap: 10px;
    border-radius: 4px;
    padding-top: 7px;
    padding-right: 12px;
    padding-bottom: 7px;
    padding-left: 20px;
    background-color: #F5F5F5;
    border: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.search-box .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.mobile_link img{
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
.mobile_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
.mobile_link{
    margin: 0 auto;
     text-decoration: none;
    list-style: none;
}
.mobile_text{

}
